// -------------------------------
// ENTRIES
// -------------------------------

.entry--single {
  max-width: 36.678rem;
  margin-left: auto;
  margin-right: auto;
}

.entry__header {
  margin-bottom: 1.5rem;
}

.entry-header__title {
  font-size: $ratio3;
  letter-spacing: -0.1rem;
  line-height: 1.1;
}

.entry-header__title--link {
  font-size: $ratio2;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

.entry-header__meta {
  color: lighten($text-color, 10%);
  font-size: $ratio-1;
}

.entry__audio {
  margin-bottom: $ratio;
  width: 100%;
}

.speakerdeck-iframe {
  // necessary because it has some
  // inline styles I can't remove.
  margin: 2rem 0 !important;
}
