// -------------------------------
// HIRE BANNER
// -------------------------------

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hire-me {
  align-items: center;
  animation-delay: 500ms;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  background-color: $creme;
  display: flex;
  font-size: .8rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-left: 1rem;
  @media #{$medium-up} {
    padding-left: 1.4rem;
  }
}

.hire__dot {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: flashingDot;
  background-color: #59962E;
  border-radius: 50%;
  display: block;
  height: 8px;
  width: 8px;
}

@keyframes flashingDot {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.hire__text {
  flex: 1 1 auto;
  margin-top: 0;
  padding: .7rem .6rem .7rem .6rem;
  @media #{$medium-up} {
    padding: .7rem 1.4rem .7rem .6rem;
  }
}

.hire__cta {
  background-color: $primary-color;
  color: white;
  font-weight: 600;
  padding: .7rem 1rem;
  text-decoration: none;
  transition: background-color 300ms ease-in-out;
  @media #{$medium-up} {
    padding: .7rem 1.4rem;
  }
  &:hover,
  &:focus {
    background-color: darken($primary-color, 5%);
    color: white;
  }
}
