// -------------------------------
// PAGE NAV
// -------------------------------

.page-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 5rem 0 0;
  padding: 0;
  li {
    font-size: .85rem;
    font-variant-numeric: lining-nums;
    text-align: center;
     + li {
      margin-left: 1rem;
    }
  }
  a {
    border-radius: 2px;
    display: block;
    font-weight: 600;
    padding: .3rem .7rem;
    text-decoration: none;
    &:hover,
    &:focus {
      background-color: lighten($border-color, 8%);
    }
  }
  .selected a {
    background-color: $primary-color;
    color: white;
  }
  .previous a {
    box-shadow: 0 0 0 2px $border-color;
    &:hover,
    &:focus {
      background-color: lighten($border-color, 15%);
    }
  }
}
