// -------------------------------
// BASE
// -------------------------------

body {
  color: $text-color;
  margin: 0 auto;
  max-width: 1300px;
  width: 90%;
  @media #{$xxlarge-up} {
    max-width: 1700px;
  }
}
