// -------------------------------
// BITS
// -------------------------------

// -------------------------------
// Colors
// -------------------------------
:root {
  --bg: #1d2433;
  --accent: #ef6b73;
  --link-color: #5ccfe6;
  --text-color: #a2aabc;
  --text-color-light: #6679a4;
}

// -------------------------------
// Font Stack
// -------------------------------

$sans: system, -apple-system, BlinkMacSystemFont, Avenir, sans-serif;

// -------------------------------
// Media Queries
// -------------------------------

$small-only: 'screen and (max-width: 39.9375em)';
$medium-up: 'screen and (min-width: 40em)';
$medium-only: 'screen and (min-width: 40em) and (max-width: 63.9375em)';
$large-up: 'screen and (min-width: 64em)';
$large-only: 'screen and (min-width: 64em) and (max-width: 90em)';
$large-up: 'screen and (min-width: 64em)';
$xlarge-up: 'screen and (min-width: 90.063em)';
$xlarge-only: 'screen and (min-width: 90.063em) and (max-width: 120em)';
$xxlarge-up: 'screen and (min-width: 120.063em)';

// -------------------------------
// Type Ratio
// -------------------------------

$magic: 1.2;

$ratio: 1rem;

$ratio-1: $ratio / $magic;
$ratio-2: $ratio-1 / $magic;

$ratio1: $ratio * $magic;
$ratio2: $ratio1 * $magic;
$ratio3: $ratio2 * $magic;
