// -------------------------------
// BITS
// -------------------------------


// -------------------------------
// Colors
// -------------------------------
$dark-color: #F68967;
$text-color: #555;
$link-color: #429CD4;
$border-color: #F4F4F4;
$jazz-color: #202232;
$alert-color: #E54A4F;
