// -------------------------------
// TYPE
// -------------------------------

// -------------------------------
// Base Type
// -------------------------------

html {
  font-size: calc(16px + 0.5vw);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--text-color);
  font-family: $sans;
  line-height: 1.4;
  font-size: 1rem;
}

a {
  color: var(--link-color);
  font-weight: 600;
  text-decoration: underline;
  text-decoration-skip: ink;
}

::selection {
  background-color: var(--accent);
  color: white;
}
