---
layout: default
title: Designer, broadcaster, and coffee addict.
excerpt: Tim Smith is a user interface and web designer based in St. Paul, Minnesota.
---

<section class="site__description">
  <div class="contain">
    <figure class="grid-4 columns content__image">
      <img src="/uploads/tim_680x510.jpg" alt="Tim Smith">
    </figure>
    <div class="grid-8 columns">
      <h1 class="home__title">Hi! I’m Tim Smith, a designer, front-end developer, and broadcaster.</h1>
      <a href="/hire/" class="btn big">Let's Work Together</a>
    </div>
  </div>
</section>

<section class="site__services">
  <div class="contain">
    <h2 class="section__title">What I Do</h2>
    <div class="service__widget grid-4 columns">
      <h3 class="service__title">User Interface/Web Design</h3>
      <p>Work with me to make your website or interface look great, with wireframes and high-fidelity mockups that make the user first priority.</p>
    </div>
    <div class="service__widget grid-4 columns">
      <h3 class="service__title">Front-End Development</h3>
      <p>With my attention to detail and understanding of standards-based markup, your website will respond quickly on any device.</p>
    </div>
    <div class="service__widget grid-4 columns">
      <h3 class="service__title">Podcast Consulting</h3>
      <p>Make your podcast successful by focusing on your audience, choosing the right equipment, and knowing how and when to bring on sponsors.</p>
    </div>
  </div>
</section>

<section class="portfolio__preview">
  <div class="contain">
    <h2 class="section__title">Latest Work</h2>
    {% for work in site.work %}
      {% if work.featured == 'affirmative' %}
        <figure class="grid-7 columns">
          <img src="{{ work.thumbnail }}" alt="{{ work.title }} thumb">
        </figure>

        <div class="grid-5 columns portfolio__description">
          <h3>{{ work.title }}</h3>
          <p>{{ work.excerpt }}</p>
          <a href="{{ work.url }}" class="btn">View Case Study</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
