---
layout: resume
title: "Résumé"
seo_title: Tim Smith’s Work History
permalink: /resume/
---
<section class="resume__main">
  {% for item in site.data.resume %}
    {% for statement in item.statement %}
      <section class="resume__statement">
        {{ statement.text | markdownify }}
      </section>
    {% endfor %}
    {% for section in item.section %}
      <section class="resume__{{ section.heading | downcase }}">
        <h2 class="resume__section-title">{{ section.heading }}</h2>
        {% include resume/experience.html %}
        {% include resume/education.html %}
      </section>
    {% endfor %}
  {% endfor %}
</section>

<aside class="resume__sidebar">
  {% for item in site.data.resume %}
    {% for sidebar in item.sidebar %}
      {% for section in sidebar.section %}
        <section class="resume-sidebar__{{ section.heading | downcase | replace: ' ', '-' }}">
          <h2 class="resume__section-title">{{ section.heading }}</h2>
          {% include resume/sidebar.html %}
        </section>
      {% endfor %}
    {% endfor %}
  {% endfor %}
</aside>
