---
layout: default
title: Writing
seo_title: Blog Posts by Tim Smith
---

<header class="page__header">
  <h1 class="page-header__title">Archives</h1>
  <p class="page-header__description">My archive of writing since 2012. My recent writing now lives on <a href="http://theboldreport.net"><em>The Bold Report</em></a>, where I discuss design, development, technology, Star Wars, movies, and much more. I encourage you to visit.</p>
</header>

{% for post in site.posts  %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

  {% if forloop.first %}
  <section class="post__section {{ this_year }}-posts">
    <h2 class="post-section__title" id="{{ this_year }}">{{this_year}}</h2>
    <ul class="posts">
  {% endif %}

    <li class="post"><a href="{{ post.url }}">{{ post.title }}<span class="post__date">{{ post.date | date: "%a, %b %d, %Y" }}</span></a></li>

  {% if forloop.last %}
    </ul>
  </section>
  {% else %}
    {% if this_year != next_year %}
    </ul>
    </section>
    <section class="post__section {{ next_year }}-posts">
    <h2 class="post-section__title" id="{{ next_year }}">{{next_year}}</h2>
    <ul class="posts">
    {% endif %}
  {% endif %}
{% endfor %}
