<!-- <section class="footer__work-cta">
  <div class="contain">
    <h3>Interested in working with me?</h3>
    <a href="/hire/" class="btn secondary right">Let’s Talk</a>
  </div>
</section> -->

<footer class="site__footer">
  <small><a href="/blog">Blog</a> &middot; <a href="https://github.com/ttimsmith/new-ttimsmith">View Source</a></small>
  <small>&copy; 2008&ndash;{{ site.time | date: "%Y" }} Timothy B. Smith.</small>
</footer> <!-- end footer -->

<!-- Other JS libraries -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
