<head>
  <!--
  Made with love in beautiful Saint Paul, Minnesota.
  © 2008–{{ site.time | date: "%Y" }} Timothy B. Smith.
  -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.seo_title %}{{ page.seo_title }}{% else %}{% if page.layout != 'microblog-post' %}{{ page.title }}{% else %}Tim Smith’s Microblog{% endif %}{% endif %} {% if page.layout == 'post' %}by Tim Smith{% endif %}{% if page.layout == 'portfolio' %} | Work by Tim Smith{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/apple-touch-icon.png" rel="apple-touch-icon">
  <meta name="keywords" content="tim smith, timothy b smith, designer, frontend developer, ux design, product design">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Twitter Info -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@smithtimmytim">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/assets/stylesheets/global.css">
  {% if page.portfolio_css %}
    <style>
      {{ page.portfolio_css }}
    </style>
  {% endif %}

  <!-- Typography -->
  <!-- <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6973314/7543372/css/fonts.css" /> -->

  <script>
    (function(d) {
      var config = {
        kitId: 'iaj5nie',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
</head>
