<section class="patreon-cta">
  <div class="cta__text">
    <h4>I’m Creating Podcasts!</h4>
    <p>I’m the host of <a href="http://goodstuff.fm/theeastwing">The East Wing</a>, <a href="http://goodstuff.fm/ftr">For the Record</a>, <a href="http://goodstuff.fm/fullscreen">Fullscreen</a>, and <a href="http://goodstuff.fm/dailycolumn">The Daily Radio Column</a>. Help me do these full-time by supporting me on Patreon.</p>
  </div><!-- /.cta__text -->
  <div class="cta__action">
    <a href="http://www.patreon.com/ttimsmith" class="btn big">Donate</a>
  </div><!-- /.cta__action -->
</section><!-- /.patreon-cta -->

<header class="site__header">
  <div class="contain">

    <div class="site__branding">
      <a href="/" class="logo">Supersmith</a>
    </div><!-- .site__branding -->

    <nav class="main__navigation">
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/portfolio/">Portfolio</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/hire/">Hire Me</a></li>
      </ul>
    </nav>

  </div><!-- .contain -->
</header>
