{% assign broadcast = include.show %}

<aside class="show__sidebar">
  <figure class="show__image">
    <a href="/podcasts/{{ broadcast.slug }}/">
      <img src="/uploads/shows/{{ broadcast.slug }}/thumb.png" alt="{{ broadcast.name }} Artwork">
    </a>
  </figure>

  <div class="show__info">
    <p class="show__description">{{ broadcast.description | markdownify | remove: '<p>' | remove: '</p>'}}</p>
    <p class="show__host">Hosted by {{ broadcast.host }}</p>

    {% if broadcast.apple or broadcast.pocketcast or broadcast.overcast or broadcast.rss %}
      <h3 class="sidebar__heading">Subscribe</h3>
      <ul class="show__subscribe">
        {% if broadcast.apple %}<li><a href="{{ broadcast.apple }}">Apple Podcasts</a></li>{% endif %}
        {% if broadcast.pocketcast %}<li><a href="{{ broadcast.pocketcast }}">Pocket Casts</a></li>{% endif %}
        {% if broadcast.overcast %}<li><a href="{{ broadcast.overcast }}">Overcast</a></li>{% endif %}
        {% if broadcast.rss == true %}<li><a href="{{ site.url }}/podcasts/{{ broadcast.slug }}/feed.xml">RSS Feed</a></li>{% endif %}
      </ul>
    {% endif %}
  </div>
</aside>
