<ul class="social-links">
  <li>
    <a 
      title="Follow me on Twitter" 
      rel="me"
      href="{{ site.twitter }}">
      {% include icons/icon-twitter.html %}
    </a>
  </li>
  <li>
    <a 
      title="Follow me on Micro.Blog" 
      rel="me"
      href="{{ site.micro-blog }}">
      {% include icons/icon-micro-dot-blog.html %}
    </a>
  </li>
  <li>
    <a 
      title="My GitHub Profile" 
      rel="me"
      href="{{ site.github }}">
      {% include icons/icon-github.html %}
    </a>
  </li>
  <li>
    <a 
      title="My photos on Flickr"
      rel="me"
      href="{{ site.flickr }}">
      {% include icons/icon-flickr.html %}
    </a>
  </li>
</ul>
