
/*

BITS
-------------------------------------------
Table of Contents

	- Colors

	- Spacing

------------------------------------------- */


/*

COLORS
-------------------------------------------
@colors

Color Variables
------------------------------------------- */

$darkColor: #fa895d;
$bodyColor: #555;
$linkColor: #429cd4;
$borderColor: #f4f4f4;
$jazz-color: #ed7a6f;
$alertColor: #e54a4f;



/*

SPACING
-------------------------------------------
@spacing

Spacing Variables
------------------------------------------- */

$spacing-xxs:   rem-calc(10px);
$spacing-xs:    rem-calc(15px);
$spacing-s:     rem-calc(20px);
$spacing-m:     rem-calc(30px);
$spacing-l:     rem-calc(40px);
$spacing-xl:    rem-calc(50px);
