/*

IMAGES
------------------------------------------- */
figure {
  margin: 0;
}

img {
  display: block;
  height: auto;
  margin: 0 0 3.125%;
  width: 100%;
}

.content__image {
  margin: 0 0 3.125%;
  img {
    margin: 0;
  }
  .site__description & {
    @include breakpoint(m) {
      margin-bottom: $spacing-s;
    }

    margin-bottom: 0;
  }
}
