/*

IMAGES
------------------------------------------- */

img {
  display: block;
	width: 100%;
	height: auto;
	margin: 0 0 3.125%;
}

.content__image {
	margin: 0 0 3.125%;
	img {
		margin: 0;
	}
}
