/*

OBJECTS
------------------------------------------- */

.contain {
  @extend %clearfix;

  margin: 0 auto;
  max-width: 1020px;
  width: 100%;
  @media (max-width: 1140px) {
    padding: 0 $spacing-xs;
  }
}

.container {
  @media #{$medium-up} {
    display: flex;
  }
}

.screen-reader-text {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lead-paragraph {
  @extend %sans;

  color: lighten($bodyColor, 30%);
  font-size: 1.5rem;
  line-height: 140%;
}


// Grid

.right {
  float: right;
}

.columns {
  float: left;
  margin-right: $spacing-m;
  &:last-child {
    float: right;
    margin-right: 0;
  }
}

.centered {
  margin: 0 auto;
}

.grid-10 {
  @include breakpoint(m) {
    margin-bottom: $spacing-m;
    width: 100%;
  }

  width: percentage(780/970);
}

.grid-8 {
  @include breakpoint(m) {
    margin-bottom: $spacing-m;
    width: 100%;
  }

  width: percentage(620/970);
}

.grid-7 {
  @include breakpoint(m) {
    margin-bottom: $spacing-m;
    width: 100%;
  }

  width: percentage(540/970);
}

.grid-5 {
  @include breakpoint(m) {
    margin-bottom: $spacing-m;
    width: 100%;
  }

  width: percentage(380/970);
}

.grid-4 {
  @include breakpoint(m) {
    margin-bottom: $spacing-m;
    width: 100%;
  }

  width: percentage(300/970);
}

.grid-3 {
  @include breakpoint(m) {
    margin-bottom: $spacing-m;
    width: 100%;
  }

  width: percentage(220/970);
}
