/*

OBJECTS
------------------------------------------- */

.contain {
  margin: 0 auto;
  width: 100%;
  max-width: 1020px;
  @extend %clearfix;
  @media (max-width: 1140px) {
    padding: 0 $spacing-xs;
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.no-bullets {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.lead-paragraph {
  color: lighten($bodyColor, 30%);
  font-size: 1.5rem;
  line-height: 140%;
  @extend %sans;
}


// Grid

.right {
  float: right;
}

.columns {
  float: left;
  margin-right: $spacing-m;
  &:last-child {
    float: right;
    margin-right: 0;
  }
}

.centered {
  margin: 0 auto;
}

.grid-10 {
  width: percentage(780/970);
  @include breakpoint(m) {
    width: 100%;
    margin-bottom: $spacing-m;
  }
}

.grid-8 {
  width: percentage(620/970);
  @include breakpoint(m) {
    width: 100%;
    margin-bottom: $spacing-m;
  }
}

.grid-7 {
  width: percentage(540/970);
  @include breakpoint(m) {
    width: 100%;
    margin-bottom: $spacing-m;
  }
}

.grid-5 {
  width: percentage(380/970);
  @include breakpoint(m) {
    width: 100%;
    margin-bottom: $spacing-m;
  }
}

.grid-4 {
  width: percentage(300/970);
  @include breakpoint(m) {
    width: 100%;
    margin-bottom: $spacing-m;
  }
}

.grid-3 {
  width: percentage(220/970);
  @include breakpoint(m) {
    width: 100%;
    margin-bottom: $spacing-m;
  }
}
