/*

TYPE
-------------------------------------------
Table of Contents

	- Base Type

	- Fonts

	- Headings

	- Text

	- Inline Type

	- Blockquote

	- hr

	- Links

------------------------------------------- */


/*

BASE TYPE
------------------------------------------- */

body {
	font-size: 115%;
	line-height: 140%;
	color: #777;
	@extend %serif;
  @media screen and (max-width: 990px ) {
    font-size: 105%;
  }
  @media screen and (max-width: 500px ) {
    font-size: 90%;
  }
  @media screen and (max-width: 340px ) {
    font-size: 83%;
  }
}

// TYPE SIZE VARIABLES

$text-size-xs: .8em;
$text-size-s: .9em;
$text-size-m: 1em;
$text-size-l: 1.5em;
$text-size-xl: 2em;

%heading-size-s { font-size: .95em;}
%heading-size-m { font-size: 1.25em;}
%heading-size-l { font-size: 1.5em;}
%heading-size-xl { font-size: 2em;}


/*

FONTS
------------------------------------------- */

%sans {
	font-family: "freight-sans-pro",sans-serif;
}

%serif {
	font-family: "chaparral-pro",sans-serif;
}

%second-sans {
  font-family: "proxima-nova-condensed",sans-serif;
}

/*

HEADINGS
------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %sans;
  color: #4b4b4b;
}


/*

TEXT
------------------------------------------- */

.main__content {
  p {
    font-size: 1.1em;
    line-height: 160%;
    margin: 0 0 3.125%;
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (max-width: 480px ) {
      margin-bottom: 5%;
    }
  }
  h2 {
    margin: 0 0 3.5%;
    line-height: 125%;
  }
  h3 {
    margin: 6% 0 1%;
    font-size: 1.3em;
    font-weight: bold;
  }
  h4 {
    margin: 6% 0 1%;
    font-size: 1.1em;
    font-weight: bold;
  }
  h5 {
    margin: 6% 0 0;
    font-size: .95em;
    font-weight: bold;
    text-transform: uppercase;
    &:before {
      background: $borderColor;
      content: " ";
      display: block;
      height: 1px;
      width: 80px;
      margin-bottom: 10px;
    }
  }
}
.page__header {
  h1 {
    margin: 0 0 $spacing-m;
    font-size: 2.5em;
    font-weight: 900;
    line-height: 140%;
  }
}


p.pubdate, small.pubdate {
  color: lighten($darkColor, 45%);
  font-size: .85em;
  margin: 0 0 2% 10%;
}

.main__content li p:first-child {
  color: #777;
}

ul, .show-notes {
  list-style-type: square;
  margin: 0 0 03.125% 6%;
  @media screen and (max-width: 700px ) {
    margin: 0 0 0 25px;
  }
  li {
    font-size: 1.1em;
    line-height: 160%;
    padding: 01.25% 0;
    p {
      font-size: inherit !important;
      margin: 0 0 3.125% 0 !important;
    }
    &:last-child {
      padding: 01.25% 0 0;
    }
  }
}

ol {
  list-style-type: decimal;
  margin: 0 0 3.125% 6%;
  text-align: left;
  @media screen and (max-width: 700px ) {
    margin: 0 0 0 25px;
  }
  li {
    font-size: 1.1em;
    line-height: 160%;
    margin: 0 0 2.5%;
    p {
      font-size: inherit !important;
      margin: 0 0 3.125% 0 !important;
    }
  }
}


/*

INLINE TYPE
------------------------------------------- */

strong {
  color: #555;
	font-weight: bold;
  em {
   font-weight: 700;
   font-style: italic;
  }
}

em, cite {
	font-style: italic;
}

em.highlighted {
  background: lighten(#fdffb6, 5%);
  color: #555;
  // font-style: normal;
  padding: 0 3px;
}

sup {
  a {
    border-bottom: none;
    font-size: .65em;
    font-weight: 700;
  }
}

pre {
  background: lighten($borderColor, 3%);
  padding: 3% 3% 3% 10%;
  white-space: pre;
  overflow-x: auto;
  @media screen and (max-width: 700px ) {
    padding: 3%;
  }
  code {
    background: none;
    padding: 0;
  }
}

.highlight {
  margin: 0 0 3.125%;
}

code {
  background: $borderColor;
  font-family: monospace;
  padding: 2px 5px;
}

/*

BLOCKQUOTE
------------------------------------------- */

blockquote {
  border-left: 10px solid $linkColor;
  color: lighten($darkColor, 25%);
  padding-left: 20px;
  margin: 0 0 03.125% 3%;
  p {
    margin-left: 0 !important;
    &:first-child {
      color: #777 !important;
      font-size: inherit !important;
    }
  }
  small {
    display: block;
    font-size: .80em;
    margin: $spacing-m 0 0;
  }
  &.content__pullquote {
    border: 0;
    padding: 0;
    margin: $spacing-xl 0;
    p, &:first-child {
      color: #999 !important;
      font-size: 1.2em !important;
      font-style: italic;
      text-align: center;
    }
    small {
      line-height: 120%;
      strong {
        display: block;
      }
    }
  }
}

/*

HR
------------------------------------------- */

hr {
  border: solid $borderColor;
  border-width: 2px 0 0;
  clear: both;
  margin: $spacing-xl auto;
  height: 0;
  width: auto;
  max-width: 300px;
  display: block;
  padding: 0;
}


/*

LINKS
------------------------------------------- */

a {
  color: $darkColor;
  text-decoration: underline;
  @include transition(.2s ease-in-out);
  &:hover {
    color: lighten($darkColor, 15%);
  }
}

a.reversefootnote {
  text-decoration: none !important;
  margin-left: 5px;
}


a {
  color: $linkColor;
  border-bottom: none;
  text-decoration: underline;
  @include transition(.2s ease-in-out);
  &:hover {
    color: darken($linkColor, 15%);
  }
}

/*

ICON FONT
------------------------------------------- */
@include embed-font("Entypo", "icon-font/entypo");
%icon-font {
	font-family: "Entypo";
}

[data-icon]:before {
  content: attr(data-icon);
  @extend %icon-font;
  speak: none;
  vertical-align: top;
}
