// -------------------------------
// BLOG
// -------------------------------

// -------------------------------
// Archives Page
// -------------------------------

.post__section {
  margin-bottom: 3rem;
}

.post-section__title {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

ul.posts {
  padding-left: 0;
}

.posts {
  list-style-type: none;
  @media #{$medium-up} {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 5rem;
    column-gap: 5rem;
  }
  @media #{$xxlarge-up} {
    -webkit-column-count: 4;
    column-count: 4;
  }
  .post {
    break-inside: avoid-column;
    display: block;
    font-size: 0.9rem;
    line-height: 1.3;
    margin-bottom: $ratio;
    margin-left: 0;
  }
  a {
    text-decoration: none;
  }
  .post__date {
    color: lighten($text-color, 20%);
    display: block;
    font-feature-settings: 'lnum';
    font-size: 0.7rem;
    font-variant-numeric: lining-nums;
    text-transform: uppercase;
  }
}

// -------------------------------
// Single Post
// -------------------------------
// For more single post styles,
// consult _components/_entries.scss
// -------------------------------

.single-post .entry__content {
  > p:first-child:not(:last-of-type) {
    font-size: $ratio1;
    letter-spacing: -1px;
    line-height: 1.5;
  }
}

.entry-header__title--link {
  .arrow {
    color: lighten($text-color, 30%);
    font-size: $ratio;
    margin-left: 0.7rem;
  }
}

.footnotes {
  margin-top: 3rem;
  @media #{$medium-up} {
    width: 85%;
  }
  &:before {
    background-color: $primary-color;
    content: '';
    display: block;
    height: 2px;
    margin-bottom: $ratio;
    width: 100px;
  }
  li,
  p {
    font-size: $ratio-1;
  }
}

.post__footer {
  background-color: $creme;
  border: 1px solid darken($creme, 5%);
  border-radius: 3px;
  margin-top: 1.5rem;
  padding: 0.5rem;
  p {
    font-size: $ratio-1;
  }
}
