// -------------------------------
// BLOG
// -------------------------------

.post--single {
  max-width: 640px;
  img {
    margin-bottom: 1rem;
  }
}

.post__header {
  margin-bottom: 1.5rem;
}

.post-header__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.post-header__title--link {
  font-size: 1.3rem;
  .arrow {
    color: lighten($text-color, 30%);
    font-size: 1.1rem;
    margin-left: .7rem;
  }
}

.post__date {
  color: lighten($text-color, 20%);
  font-size: .8rem;
}

.footnotes {
  margin-top: 3rem;
  @media #{$medium-up} {
    width: 85%;
  }
  &:before {
    background-color: $primary-color;
    content: '';
    display: block;
    height: 2px;
    margin-bottom: 1rem;
    width: 100px;
  }
  li,
  p {
    font-size: .85rem;
  }
}
