// -------------------------------
// HEADER
// -------------------------------

.header {
  margin-bottom: 2.5rem;
  @media #{$large-up} {
    align-items: flex-end;
    display: flex;
  }
}

.site__name {
  display: block;
  margin-bottom: .8rem;
  text-decoration: none;
  @media #{$large-up} {
    margin-bottom: 0;
    margin-right: 2.5rem;
  }
}

.site__title {
  font-size: 1.4rem;
  font-weight: 900;
}

.site__subtitle {
  color: lighten($text-color, 20%);
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0;
}

.site__navigation {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  li {
    font-size: .9rem;
    margin-bottom: 0;
    &:not(:last-of-type) {
      margin-right: .7rem;
    }
  }
  a {
    text-decoration: none;
    &:hover,
    &:focus,
    &.current {
      border-bottom: 2px solid $primary-color;
    }
  }
}
