/*

HEADER
------------------------------------------- */

.site__header {
  margin: 1rem 0 2.5rem;
  .home__header & {
    left: 1rem;
    position: absolute;
    z-index: 2;
    @media #{$medium-up} {
      left: 2rem;
    }
  }
}

.site__branding {
  float: left;
  margin: 0 $spacing-s 0 0;
  svg {
    width: 45px;
  }
}

.supersmith-icon {
  fill: $dark-color;
  .home__header & {
    fill: $jazz-color;
  }
}

.main__navigation {
  @extend %clearfix;
  @extend %sans;
  .home__header & {
    float: left;
  }
  ul {
    list-style-type: none;
    margin: $spacing-xxs 0 0 0;
    li {
      display: inline-block;
      font-size: .85rem;
      padding: 0 $spacing-xs 0 0;
      &:last-child {
        padding-right: 0;
      }
      a {
        color: lighten($text-color, 30%);
        text-decoration: none;
        &:hover,
        &:focus {
          color: $link-color;
        }
        .home__header & {
          color: rgba(white, .9);
          &:hover,
          &:focus {
            color: white;
          }
        }
      }
    }
  }
}
