// -------------------------------
// MAIN CONTENT
// -------------------------------
.main {
  margin-bottom: 3rem;
}

// -------------------------------
// Home Page
// -------------------------------

.home-container {
  @supports (display: grid) {
    display: grid;
    grid-gap: 1rem;
    @media #{$medium-up} {
      grid-gap: 2rem;
      grid-template-columns: repeat(6, 1fr);
    }
    @media #{$medium-only} {
      grid-template-rows: 150px 150px 150px auto;
    }

    @media #{$large-up} {
      grid-auto-rows: minmax(100px, auto);
    }
  }
  @supports not (display: grid) {
    position: relative;
  }
}

.home__picture {
  background-blend-mode: lighten;
  background-color: #371D5B;
  background-image: url('/../uploads/home/tim-smile-4x3.jpg');
  background-position: 80%;
  background-size: cover;

  @media #{$small-only} {
    min-height: 300px;
    width: 100%;
  }
  @media #{$medium-up} {
    &:hover {
      background-image: url('/../uploads/home/tim-tongue-4x3.jpg');
    }
  }
  @supports (display: grid) {
    grid-row: 1;
    @media #{$medium-up} {
      grid-column: 3 / span 4;
      grid-row: 1 / span 2;
    }
    @media #{$large-up} {
      grid-column: 2 / span 5;
      grid-row-end: span 3;
    }
  }
  @supports not (display: grid) {
    @media #{$medium-up} {
      min-height: 50vh;
      position: absolute;
      right: 0;
      top: 0;
      width: 80%;
    }
    @media #{$large-up} {
      min-height: 65vh;
    }
    @media #{$xxlarge-up} {
      min-height: 75vh;
    }
  }
}

.home__content {
  @supports (display: grid) {
    @media #{$medium-up} {
      grid-column: 1 / span 4;
      grid-row: 2 / span 3;
    }
    @media #{$large-up} {
      grid-column-end: span 2;
      grid-row: 2;
    }
  }

  @media #{$medium-up} {
    background-color: $creme;
    max-width: 450px;
    padding: 1.5rem;
    position: relative;
    z-index: 1;
    &:after {
      border: 2px solid salmon;
      bottom: -15px;
      content: '';
      left: -15px;
      pointer-events: none;
      position: absolute;
      right: -15px;
      top: -15px;
    }
  }

  @supports not (display: grid) {
    @media #{$medium-up} {
      position: absolute;
      top: 4rem;
      width: 45%;
    }

    @media #{$large-up} {
      width: 35%;
    }

    @media #{$xlarge-up} {
      width: 30%;
    }
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1;
  }
  h2 {
    color: lighten($text-color, 10%);
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 1rem;
    margin-top: 0;
  }
  p {
    font-size: .95rem;
  }
}
