/*

MAIN CONTENT
------------------------------------------- */

.main__content {
  margin: 0 0 $spacing-xl;
}

.site__description {
  margin: $spacing-xl 0;
  @include breakpoint(m) {
    margin: $spacing-s 0 0;
  }
}

.home__title {
  font-size: 3.2em;
  font-weight: 300;
  line-height: 120%;
  @include breakpoint(m) {
    font-size: 2.4rem;
  }
}

.site__services {
  background: $borderColor;
  padding: $spacing-s 0;
}

.section__title {
  color: darken($borderColor, 35%);
  font-size: .95em;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 $spacing-m !important;
  @extend %second-sans;
}

.service__widget {
  h3 {
    color: lighten($darkColor, 15%);
    font-size: 1.15em;
    margin-top: 0;
  }
  p {
    font-size: .95em;
  }
}

.portfolio__description {
  h3 {
    font-size: 1.15em;
    margin-top: 0;
  }
  p {
    font-size: 1em;
  }
}
