// -------------------------------
// PAGES
// -------------------------------

.page__header {
  margin-bottom: 1rem;
}

.page-header__title {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.3;
}

.page-header__subtitle {
  color: lighten($text-color, 20%);
  font-size: 1.4rem;
  font-weight: normal;
}
