// =========================================
// PAGE STYLES
// =========================================

// -------------------------------
// Portfolio
// -------------------------------

.portfolio__items {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  max-width: 1300px;
  padding: 0 1rem;
  @media #{$medium-up} {
    padding: 0 2rem;
  }
}

.portfolio__entry {
  margin-bottom: 2.5rem;
  &:nth-child(3n) {
    padding-right: 0;
  }
  @media #{$medium-up} {
    flex: 0 1 50%;
    padding-right: 1.5rem;
  }
  @media #{$large-up} {
    flex: 0 1 33.3%;
  }
  h2 {
    margin-top: 1rem;
    a {
      text-decoration: none;
    }
  }
}

.portfolio__thumb {
  img {
    margin: 0;
  }
}

.portfolio__header {
  margin-top: -1.5rem;
  padding: 4rem 0 2rem;
  text-align: center;
}

.portfolio-header__title {
  color: white;
  font-size: 3rem;
  font-weight: normal;
}

.portfolio-header__lead {
  color: rgba(white, .7);
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  margin-top: 0;
  width: 100%;
}

.portfolio__hero {
  border-bottom: 1px solid #EEE;
  margin: 0 auto;
  max-height: 900px;
  max-width: 1700px;
  overflow: hidden;
  padding: 2rem 1rem 0;
  position: relative;;

  &:after {
    background-image: linear-gradient(transparent, rgba(black, .08));
    bottom: 0;
    content: '';
    height: 10px;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.portfolio__meta {
  background-color: $border-color;
  margin-bottom: 3rem;
  padding: 1rem;
  @media #{$medium-up} {
    padding: 1rem 2rem;
  }
}

.meta__info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  padding-left: 0;
  li {
    line-height: 1;
    margin-bottom: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border-right: 0;
      padding-right: 0;
    }
  }
}

.info__title {
  @extend %second-sans;

  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: .2rem;
}

.info__description {
  font-size: .8rem;
  line-height: 1.5;
}

.info__type {
  flex: 2;
}

.info__link {
  align-self: center;
}

.portfolio__content > p:first-child {
  font-size: 1.2rem;
  line-height: 1.6;
}

.portfolio__container {
  margin: 0 auto;
  width: 100%;
  @media #{$medium-up} {
    max-width: 768px;
  }
  @media #{$large-up} {
    max-width: 1000px;
  }
  .portfolio__content > h2,
  .portfolio__content > p {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    @media #{$large-up} {
      width: 65%;
    }
  }
  .content__pullquote {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
}

// -------------------------------
// Blog
// -------------------------------

.posts {
  list-style-type: none;
  margin: 0;
  li {
    line-height: 1.5;
  }
  a {
    text-decoration: none;
  }
  .post__title {
    @extend %second-sans;

    font-size: 1.3rem;
    font-weight: 600;
    @media #{$medium-up} {
      font-size: 1.2rem;
    }
  }
  .post__date {
    margin: 0;
  }
}

.post__date {
  color: lighten($text-color, 20%);
  display: block;
  font-size: .85rem;
  @media #{$medium-up} {
    font-size: .75rem;
  }
}

.post__header {
  h1 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1.875rem;
  }
}

.post__content {
  > p:first-child {
    @extend .lead-paragraph;
  }
}

.footnotes {
  margin: 2.5rem 0;
  ol {
    margin: 0 0 0 2rem;
    width: 83%;
    li {
      font-size: .9rem;
      margin: 0;
      padding: 0;
      @media #{$medium-up} {
        font-size: .8rem;
      }
      code {
        font-size: .8rem;
      }
    }
  }
  &:before {
    background: $border-color;
    content: '';
    display: block;
    height: 3px;
    margin-bottom: 1rem;
    width: 150px;
  }
}

// -------------------------------
// Resume
// -------------------------------

.resume__image {
  margin-bottom: 2rem;
  img {
    max-height: 400px;
    max-width: 700px;
    object-fit: cover;
  }
}

.resume__sidebar {
  background: lighten($border-color, 2%);
  flex: 0 1 320px;
  padding: 1rem;
  @media #{$small-only} {
    margin-top: 2rem;
  }
  @media #{$medium-up} {
    margin-right: 1.5rem;
  }
  p {
    font-size: .9rem;
  }
  .resume__heading {
    border-color: darken($border-color, 5%);
    &:first-child {
      margin-top: 0;
    }
  }
}

.resume__statement {
  font-size: 1.2rem;
  line-height: 1.6;
}

.resume__heading {
  border-bottom: 1px solid $border-color;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: .6rem;
  padding-bottom: .3rem;
  text-transform: uppercase;
  + .resume__subheading,
  + .job__title {
    margin-top: .6rem;
  }
}

.resume__subheading,
.job__title {
  color: $text-color;
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 1.3rem;
  text-transform: none;
}

.resume__meta,
.job__meta {
  color: lighten($text-color, 20%);
  font-size: .85rem;
  margin-bottom: .4rem;
}

.resume__other-info {
  li {
    font-size: .85rem;
    line-height: .9;
  }
}
