// -------------------------------
// PODCASTS
// -------------------------------

.back-button {
  margin-bottom: 1.8rem;

  @media #{$medium-up} {
    grid-column: span 2;
  }
  .back-link {
    background-color: lighten($link-color, 45%);
    border-radius: 3px;
    padding: 7px 15px;
    text-decoration: none;
  }
}

.shows {
  margin-top: 2rem;
  .show {
    display: grid;
    grid-column-gap: 1.5rem;
    grid-template-columns: 90px auto;
    @media #{$medium-up} {
      grid-column-gap: 40px;
      grid-template-columns: 150px auto;
    }
    + .show {
      border-top: 1px solid $border-color;
      margin-top: 1.3rem;
      padding-top: 1.3rem;
    }
  }

  .show__name {
    font-weight: normal;
    line-height: 1.1;
    margin-bottom: 0.1rem;
    margin-top: 0;
    a {
      text-decoration: none;
    }
  }

  .show__host {
    color: lighten($text-color, 10%);
    font-size: $ratio-1;
    font-weight: 600;
  }
}

.episodes {
  .episode {
    h2 {
      font-weight: normal;
      letter-spacing: -1px;
      margin-top: 0;
      a {
        text-decoration: none;
      }
    }
    + .episode {
      border-top: 1px solid $border-color;
      margin-top: 1.3rem;
      padding-top: 1.3rem;
    }
  }
}

.episode__meta {
  color: lighten($text-color, 10%);
  display: block;
  font-size: $ratio-1;
  margin-bottom: 0.5rem;
}

.episode-navigation {
  border-top: 3px solid $primary-color;
  margin-top: 3rem;
  padding-top: $ratio;
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    font-size: $ratio-1;
    width: 50%;
    &:nth-child(2) {
      text-align: right;
    }
  }
  a {
    text-decoration: none;
  }
  .navigation__title {
    color: $primary-color;
    display: block;
    font-size: $ratio-1;
    font-weight: 600;
    text-transform: uppercase;
  }
}

// -----------------------------------------
// SHOW SIDEBAR
// -----------------------------------------

.show__sidebar {
  background-color: rgb(241, 241, 241);
  padding: $ratio;
  border-radius: 3px;
  @media #{$small-only} {
    display: grid;
    grid-column-gap: 1.5rem;
    grid-template-columns: 90px auto;
    margin-bottom: 2rem;
  }

  .show__description {
    font-size: $ratio-1;
  }
}

.show__image {
  margin-top: 0;
  @media #{$medium-up} {
    margin-bottom: 1.2rem;
  }
  a,
  img {
    display: block;
  }
}

.show__host {
  font-size: $ratio-1;
  font-weight: 600;
}

.show__subscribe {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0.3rem;
  padding: 0;
  @media #{$small-only} {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  li {
    font-size: $ratio-1;
  }
  a {
    font-weight: 600;
    text-decoration: none;
  }
}
