// -------------------------------
// RESUME
// -------------------------------
.resume-container {
  @supports (display: grid) {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 3fr 2fr;
  }
}

.resume__section-title {
  border-bottom: 1px solid $border-color;
  font-size: .95rem;
  font-weight: 300;
  margin-bottom: .5rem;
  margin-top: 2.5rem;
  padding-bottom: .2rem;
  text-transform: uppercase;
}

.entry__title {
  color: #333;
  font-weight: normal;
  margin-top: 1.2rem;
}

.entry__meta {
  color: lighten($text-color, 20%);
  display: block;
  font-size: .8rem;
  margin-bottom: .5rem;
}
