// -------------------------------
// SPEAKING
// -------------------------------

.events {
  list-style: none;
  margin-top: 1rem;
  padding: 0;
  @supports (display: grid) {
    display: grid;
    grid-gap: 1.5rem;
    @media #{$medium-up} {
      grid-template-columns: repeat(2, 1fr);
    }
    @media #{$large-up} {
      grid-template-columns: repeat(3, 1fr);
    }
    @media #{$xxlarge-up} {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @supports not (display: grid) {
    display: flex;
    flex-wrap: wrap;
  }
}

.event {
  background-color: $creme;
  border-radius: 3px;
  padding: .8rem;
  p {
    font-size: .9rem;
  }
  @supports (display: grid) {
    &:not(:last-of-type) {
      margin-bottom: 0;
    }
  }
  @supports not (display: grid) {
    @media #{$medium-up} {
      flex: 1 1 45%;
      margin-right: 1.5rem;
    }
    @media #{$medium-only} {
      &:nth-child(2n+2) {
        margin-right: 0;
      }
    }
    @media #{$large-up} {
      flex: 1 1 30%;
      max-width: 325px;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 1.5rem;
    }
  }
}

.event__map {
  display: block;
  margin-bottom: .5rem;
}

.event__status {
  border-radius: 3px;
  display: inline-block;
  font-size: .8rem;
  font-weight: 600;
  margin-bottom: .3rem;
  padding: .1rem .3rem;
}

.event__status--past {
  background-color: darken($creme, 8%);
}

.event__status--upcoming {
  background-color: $primary-color;
  color: white;
}

.event__venue {
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  a {
    text-decoration: none;
  }
}

.event__date {
  color: lighten($text-color, 15%);
  display: block;
  font-size: .8rem;
  margin-bottom: .5rem;
}
