// -------------------------------
// SPEAKING
// -------------------------------

.events {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  list-style: none;
  margin-top: 1rem;
  padding: 0;
  @media #{$medium-up} {
    grid-gap: 2.5rem 2rem;
  }
}

.event {
  p {
    font-size: .85rem;
  }
  &:not(:last-of-type) {
    margin-bottom: 0;
  }
}

.event__status {
  border-radius: 2px;
  display: inline-block;
  font-size: .75rem;
  margin-bottom: .6rem;
  padding: 0 5px;
}

.status--upcoming {
  background-color: salmon;
  color: white;
}

.event__venue {
  display: block;
  font-size: 1rem;
  line-height: 1.2;
  a {
    color: salmon;
    text-decoration: none;
  }
}

.event__location {
  color: lighten($text-color, 20%);
  display: block;
  font-size: .8rem;
  font-style: italic;
  margin-bottom: .3rem;
}

.event__date {
  color: lighten($text-color, 20%);
  display: block;
  font-size: .8rem;
  margin-bottom: .5rem;
}
