---
layout: default
css_class: single-post
main_css_class: main--podcast
---
{% assign show = site.data.shows[page.collection] %}

<div class="back-button">
  <a href="/podcasts/{{ show.slug }}" class="back-link">&larr; All Episodes</a>
</div>

{% include show-sidebar.html show=show %}

<article class="entry--single {% if page.custom_type == 'post' %}entry--fun{% endif %}">
  <header class="entry__header">
    <h1 class="entry-header__title">{{ page.title | smartify }}</h1>
    <small class="entry-header__meta"><span class="entry-header__number">Episode #{{ page.number }}</span>&ensp;&middot;&ensp;{% if page.duration %}<span>{{ page.duration | date: "%M minutes" }}</span>&ensp;&middot;&ensp;{% endif %}<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%a, %b %d, %Y" }}</time></small>
  </header>

  {% if page.audio %}
    <audio id="main-audio" class="entry__audio" controls="controls" preload width="100%">
      <source src="{{ page.audio }}" type="audio/mpeg" />
    </audio>
  {% else %}
    <div class="entry__audio">
      {{ page.embed }}
    </div>
  {% endif %}

  <div class="entry__content">
    {{ content }}
  </div>

  {% include podcasts/episode-nav.html %}
</article>
