---
layout: default
css_class: single-post
---
{% assign show = site.data.shows[page.collection] %}
<aside class="entry__aside">
  <figure class="aside__image">
    <a href="/podcasts/{{ show.slug }}/">
      <img src="/uploads/shows/{{ show.slug }}/thumb.png" alt="{{ show.name }} Artwork">
    </a>
  </figure>

  <div class="aside__info">
    <h3 class="show__name"><a href="/podcasts/{{ show.slug }}/">{{ show.name }}</a></h3>
    <p class="show__description">{{ show.description | markdownify | remove: '<p>' }}</p>
    <p class="show__host">Hosted by {{ show.host }}</p>
  </div>
</aside>

<article class="entry--single {% if page.custom_type == 'post' %}entry--fun{% endif %}">
  <header class="entry__header">
    <h1 class="entry-header__title">{{ page.title | smartify }}</h1>
    <small class="entry-header__meta"><span class="entry-header__number">Episode #{{ page.number }}</span> &middot; {% if page.duration %}<span>{{ page.duration | date: "%M minutes" }}</span> &middot;{% endif %} <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b·%d·%Y" }}</time></small>
  </header>

  <audio id="main-audio" class="entry__audio" controls="controls" preload width="100%">
    <source src="{{ page.audio }}" type="audio/mpeg" />
  </audio>

  <div class="entry__content">
    {{ content }}
  </div>
</article>
