---
layout: default
main_css_class: main--podcast
---

<div class="back-button">
  <a href="/podcasts/" class="back-link">&larr; All Shows</a>
</div>

{% assign show = site.data.shows[page.show] %}
{% include show-sidebar.html show=show %}


<div class="page__content">
  <section class="episodes">
    {% for episode in paginator.posts %}
      <div class="episode">
        <h2><a href="{{ episode.url }}">{{ episode.title | smartify }}</a></h2>
        <small class="episode__meta"><span class="episode__number">Episode #{{ episode.number }}</span>&ensp;&middot;&ensp;{% if episode.duration %}<span>{{ episode.duration | date: "%M minutes" }}</span>&ensp;&middot;&ensp;{% endif %}<span class="episode__date"><time datetime="{{ episode.date | date_to_xmlschema }}">{{ episode.date | date: "%a, %b %d, %Y" }}</time></span></small>

        {{ episode.excerpt }}
      </div>
    {% endfor %}
  </section>

  {% if paginator.total_pages > 1 %}

  <ul class="page-nav">
      {% if paginator.first_page %}
      <li class="previous">
          <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}">First</a>
      </li>
      {% endif %}

      {% if paginator.page_trail %}
        {% for trail in paginator.page_trail %}
          <li {% if page.url == trail.path %}class="selected"{% endif %}>
              <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
          </li>
        {% endfor %}
      {% endif %}


       {% if paginator.last_page %}
      <li class="previous">
          <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}">Last</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}
</div>
