---
layout: default
css_class: single-post
---

<article class="entry--single {% if page.custom_type == 'post' %}entry--fun{% endif %}">
  {% if page.custom_type == 'video' %}
    <div class="video-container">
      {{ page.video-embed }}
    </div>
  {% endif %}
  <header class="entry__header">
    {% if page.custom_type == 'post' or page.custom_type == 'video' %}
      <h1 class="entry-header__title">{{ page.title | smartify }}</h1>
    {% elsif page.custom_type == 'link' %}
      <h1 class="entry-header__title--link"><a href="{{ page.custom_url }}">{{ page.title | smartify }}</a><span class="arrow">&rarr;</span></h1>
    {% endif %}
    <small class="entry-header__meta"><span class="entry-header__author">Timothy B. Smith</span>&emsp;<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %d, %Y" }}</time></small>
  </header>

  <div class="entry__content">
    {{ content }}
  </div>

  <footer class="post__footer">
    <p>If you liked this post, and would like to read more like it, most of my writing now lives on <a href="https://brightlycolored.org"><em>Brightly Colored</em></a>. If you have questions or want to discuss this article further, email me at <a href="mailto:smith@ttimsmith.com">smith@ttimsmith.com</a>.</p>
  </footer>
</article>
