---
layout: default
---

<div class="contain">
  {% include header.html %}
  <header class="page__header">
    <h1>Timothy B. Smith</h1>
    <h2 class="subheader">{{ page.subhead }}</h2><!-- /.subheader -->
  </header>
</div><!-- /.contain -->

<figure class="resume__image">
  <img
    src="{{ page.image | append: '-small' }}.jpg"
    srcset="{{ page.image | append: '-medium' }}.jpg 2x, {{ page.image | append: '-large' }}.jpg 3x"
    alt="Tim Smith is a silly person.">
</figure>

<div class="flex-container">
  {{ content }}
</div><!-- /.contain -->


{% include footer.html %}
