---
layout: default
css_class: resume
---

<header class="page__header">
  <h1 class="page-header__title">Timothy B. Smith</h1>
  <h2 class="page-header__subtitle">Designer &amp; Frontend Developer</h2>
</header>

<figure class="resume__image">
  <img
    src="{{ page.image | append: '-small' }}.jpg"
    srcset="{{ page.image | append: '-medium' }}.jpg 2x, {{ page.image | append: '-large' }}.jpg 3x"
    alt="Tim Smith is a silly person.">
</figure>

<div class="resume-container">
  {{ content }}
</div>
